.tabla1,.TRegistro{
	/*text-align: center;*/
	border: 1px solid;
	border-collapse: collapse;
	width: 100%;
	font-size: 100%;
	font-weight: 100%;

}
.tabla1 td{
	text-align:center;

}

.tabla1 th{
	/*font-size:10px;*/
	background-color:#0489B1;

}
.tabla1 tr:hover{
	/*font-size:10px;*/
	background-color:#0174DF;

}
.tabla1 tr{

	/*font-size:10px;*/
	background-color:#81BEF7;
}
.tablainventario{
	text-align: center;
	border: 1px solid;
	border-collapse: collapse;
	font-size: 16px;
	font-weight: 100%;
	color: #000;
	width: 25em;
	font-family:sans-serif;
	height:  24em;
}
.tablainventario th{
	/*font-size:10px;*/
	background-color:#0489B1;
}
.tablainventario td{
	border: 1px solid;
	text-align:center;
}
.tablainventario tr{

	/*font-size:10px;*/
	background-color:#81BEF7;
}
.tablainventario tr:hover{
	/*font-size:20px;*/
	background-color:#0174DF;
}

.RegVentas{
	text-align: center;
	border-collapse: collapse;
	width: 100%;
	font-size: 110%;
	color: #000;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; 
	border: 2px solid #006699;
	border-radius: 5px;
	
}
.RegVentas tr:hover{
	/*font-size:10px;*/
	background-color:#0174DF;
}
.RegVentas th{
	/*font-size:10px;*/
	background-color:#006699;
}
.caja-sombra{
    margin:2% 20%;
    box-shadow: 10px 15px 14px rgba(0, 0, 0, 0.3);
}

