{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="ngAppViao">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/Frontend/resources/images/viao_logo.jpg" type="images/jpg">
    <link href="/Frontend/css/tabla1.css" rel="stylesheet" type="text/css">
    <link href="/Frontend/css/principal.css" rel="stylesheet" type="text/css">
    <link href="/Frontend/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/Frontend/bower_components/angular-material/angular-material.min.css" rel="stylesheet" type="text/css">
    <link href="/Frontend/bower_components/angular-material/angular-material.layouts.min.css" rel="stylesheet" type="text/css">
    <link href="/Frontend/bower_components/angular-material-icons/angular-material-icons.css" rel="stylesheet" type="text/css">

    <link href="/Frontend/css/stylesheets/main_style.css" rel="stylesheet" type="text/css">

    <script src="/Frontend/bower_components/angular/angular.min.js"></script>
    <script src="/Frontend/bower_components/angular-material/angular-material.min.js"></script>
    <script src="/Frontend/bower_components/angular-material-icons/angular-material-icons.min.js"></script>

    <script src="/Frontend/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/Frontend/bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="/Frontend/js/src/appViao.js"></script>
</head>

{% if not user.is_authenticated %}
    <body ng-controller="AppCtrl" layout="column" class="sidenavdemoBasicUsage background-banner">
{% else %}
    <body ng-controller="AppCtrl" layout="column" class="sidenavdemoBasicUsage ">
{% endif %}
<md-toolbar>
    <div class="md-toolbar-tools">
        {% if user.is_authenticated %}
            <md-button class="md-icon-button" aria-label="Settings" ng-click="toggleLeft()" hide-gt-md>
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
        {% endif %}
        <h2 class="title-logo">
            <img src="/Frontend/resources/images/viao_logo.jpg">
            <span>Viao Project</span>
        </h2>
        <span flex=""></span>
        {% if  user.is_authenticated %}
            <md-button  href="/cerrar" class="md-icon-button">
                <ng-md-icon icon="logout"></ng-md-icon>
            </md-button>
        {% endif %}
    </div>
</md-toolbar>
<section layout="row" flex>
    {% if user.is_authenticated %}
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo" ng-controller="LeftCtrl" hide-gt-md>
                <div layout="row">
                    <div class="md-toolbar-tools">
                        <h2 class="title-logo">
                            <img src="/Frontend/resources/images/viao_logo.jpg">
                            <span>Viao Project</span>
                        </h2>
                    </div>
                    <md-button ng-click="close()" class="md-icon-button">
                        <ng-md-icon icon="close"></ng-md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-content layout-padding >
                <a href="/personas">
                    <ng-md-icon icon="people"></ng-md-icon>
                    <label>
                        Personas
                    </label>
                </a>
                <a href="#">
                    <ng-md-icon icon="landscape"></ng-md-icon>
                    <label>
                        Cultivos
                    </label>
                </a>
                <a href="/personas">
                    <ng-md-icon icon="texture"></ng-md-icon>
                    <label>
                        lotes
                    </label>
                </a>
            </md-content>
        </md-sidenav>
    {% endif %}
    <md-content class="wrapper-content">
        <form ng-hide="false" class="form-ingreso" rol="form"  method="POST">{% csrf_token %}
            <p><input class="form-control input-lg"  type="text" placeholder="Cédula" name="username" id="usu" required autofocus></p>
            <p><input  class="form-control input-lg" type="password"  placeholder="Contraseña" name="password" id="pw" required>
                <a href="#">Olvidaste tu contraseña?</a></p>

            <p><input  class="btn-primary btn-lg btn-block" type="submit" value="Aceptar"></p>
        </form>
        {%  block content %}{% endblock %}
    </md-content>
    {% block js%}{% endblock%}
</section>
</body>
<script type="text/javascript" src="/Frontend/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/Frontend/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</html>
