{% extends "base.html" %}
{% block title %}Crear Persona{% endblock %}
{% block js%}
<script type="text/javascript">
       
            $('#save').click(function(){
                var formdata= new FormData($("#form").get(0));
                $.ajax({
                            type:'post',
                            url:"/crear/personas/",
                            dataType: 'json',
                            async: true,
                            data: formdata,
                            success: function(response){
                            	
                                if (response.exito){
                                   	$("#recharge").html('<span class="alert alert-success">Usuario Registrado exitosamente</span>');
                                        $("#form").get(0).reset();
                                }else{
                                	//if(response.errores.tipo_documento){
                                		$("#recharge").html('<span class="alert alert-danger"><strong>Error!</strong> en el formulario</span>');
                                	//}

                                    
                                } 
                                
                            },
                            processData: false,
                            contentType: false,
                }); 
            });   
        </script>

{% endblock%}
{% block content %}

	<div class ="container">
	<h1 align="center">Formulario Registro {{tipo_usuario}}</h1><br>
	<br>
	    <form class="form-horizontal" role="form" name="form" id="form" action="" method="POST">{% csrf_token %}
	    <div class="form-group">
		    
			<label class="control-label col-sm-6">Tipo Documento:</label>
			<div class="col-sm-13">
		    	{{form.tipo_documento}}
		    </div>
		</div>
		<div class="form-group">
		    {{form.documento.errors}}
			<label class="control-label col-sm-6">Documento:</label>
		    <div class="col-sm-13">
		    	{{form.documento}}
			</div>
		<div class="form-group">
		    {{form.nombre.errors}}
		    <label class="control-label col-sm-6">Nombre:</label>
		    <div class="col-sm-13">
		    	{{ form.first_name }}
		    </div>
		<div class="form-group">
		    {{form.apellido.errors}}
		    <label class="control-label col-sm-6">Apellido:</label>
		    <div class="col-sm-13">	
		    	{{ form.last_name }}
		    </div>
		<div class="form-group">
		    {{form.fechaNacimiento.errors}}
		    <label class="control-label col-sm-6">Fecha Nacimiento:</label>
		    <div class="col-sm-13">
		    	{{ form.fechaNacimiento }}
		    </div>
		<div class="form-group">
		    {{form.telefono.errors}}
		    <label class="control-label col-sm-6">Telefono:</label>
		    <div class="col-sm-13">
		    	{{ form.telefono }}
		     </div>
		<div class="form-group">
		    {{form.direccion.errors}}
		    <label class="control-label col-sm-6">Direccion:</label>
		    <div class="col-sm-13">	
		    	{{ form.direccion }}
		    </div>
		<div class="form-group">
		    {{form.email.errors}}
		    <label class="control-label col-sm-6">Email:</label>
		    <div class="col-sm-13">
		    	{{ form.email }}
		    </div>
		<div class="form-group">
		    {{form.password.errors}}
		    <label class="control-label col-sm-6">Password:</label>
		    <div class="col-sm-13">	
		    	{{ form.password }}
		    </div>
	    </div>
	    <div class="form-group">
	    	<div class=" control-label col-sm-7">	
	    		<input class= "btn btn-primary btn-lg" id ="save" type="button" value="Registrar"/>
		    </div>
	    </div>
	      <div class="form-group">
				<div class=" control-label col-sm-8" id="recharge"></div>
			</div>
	    </form>
	    <br>
	    
	</div>

 
{% endblock %}
