{% extends "base.html"%}
{% load staticfiles %}
{% block content %}

    {% if not user.is_authenticated %}
        <div   class="container">

            <md-content  ng-hide="" class="login-form" ng-controller="ctrlFormLogin">
                <div class="wrapper-logo">
                    <img src="/Frontend/resources/images/viao_logo.jpg">
                </div>
                <div layout="colum" layout-align="center center" layout-wrap>
                    <md-input-container flex="100">
                        <label>Documento</label>
                        <input type="text" ng-model="user.document">
                    </md-input-container>

                    <md-input-container flex="100">
                        <label>Contraseña</label>
                        <input type="password" ng-model="user.password">
                    </md-input-container>

                    <md-button class="md-raised" ng-click="send(user)">
                        <ng-md-icon icon="done"></ng-md-icon>
                        <label>Aceptar</label>
                    </md-button>
                </div>
            </md-content>
        </div>
    {%else%}
    {% endif %}

{% endblock %}
