{% extends "base.html" %}
{% block title %}Personas{% endblock %}
{% block content %}

<h1 align="center">Informacion de perfil</h1><br>
<div class="container jumbotron">

  <label>Nombre: {{ persona.first_name }} {{persona.last_name}} </label><br>
  <label>Documento: {{ persona.documento }}</label><br>
  <label>Telefono: {{ persona.telefono }}</label><br>
  <label>Direccion: {{persona.direccion }}</label><br>
  <label>Fecha Nacimiento: {{ persona.fechaNacimiento }}</label><br>
  <label>Perfil: {{ persona.tipo_usuario }}</label><br>
</div>
<br>
<div class="container">
{% if persona.is_superuser %}
<h1>Tabla Dueños</h1>
<table class="table table-hover">
  
    <thead>
      <tr>
        <th>Documento</th>
        <th>Nombre</th>
        <th>Apellidos</th>
      
      </tr>
    </thead>
    <tbody>
        {% for duenos in asignaciones %}
          <tr>
           <td>{{duenos.documento}}</td>
            <td>{{duenos.first_name}}</td>
            <td>{{duenos.last_name}}</td>
        </tr>
      {% endfor %} 
    </tbody>
  {% endif %}
  {% if persona.tipo_usuario == 'Dueno' %}
  <h1>Tabla Cultivos</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Encargado</th>
      
      </tr>
    </thead>
    <tbody>
        {% for cultivo in asignaciones %}
          <tr>
            <td>{{cultivo.id}} </td>
            <td>{{cultivo.jefe}}</td>
        </tr>
      {% endfor %} 
    </tbody>
  {% endif %}
    {% if persona.tipo_usuario == 'Jefe' %}
    <h1>Tabla Trabajadores</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Documento</th>
        <th>Nombre</th>
        <th>Apellidos</th>
      
      </tr>
    </thead>
    <tbody>
        {% for trabajador in asignaciones %}
          <tr>
            <td>{{trabajador.documento}}</td>
            <td>{{trabajador.documento.first_name}}</td>
            <td>{{trabajador.documento.last_name}}</td>
        </tr>
      {% endfor %} 
    </tbody>
    {% endif %} 
    {% if persona.tipo_usuario == 'Trabajador' %}
    <h1>Tabla Lotes</h1>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Fecha en que se registro</th>
      
      </tr>
    </thead>
    <tbody>
        {% for lote in asignaciones %}
          <tr>
            <td>{{lote.id}} </td>
            <td>{{lote.totalEstacas}}</td>
        </tr>
      {% endfor %} 
    </tbody>
    {% endif %} 
</table>
</div>


{% endblock %}