{% extends "base.html" %}
{% block title %}Personas{% endblock %}
{% block content %}
<h1 align="center">Informacion de Cultivo</h1><br>
<div class="container jumbotron">

  <label>Id: {{ cultivo.id }} </label><br>
  <label>Dueño: {{ cultivo.dueno }}</label><br>
  <label>Encargado: {{cultivo.jefe }}</label><br>
  <label>Área: {{cultivo.area }} {{cultivo.tipoMedida}}</label><br>
  <label>Cantidad de lotes: {{ cultivo.lotes }}</label><br>
  <label>Fecha Registro: {{ cultivo.fechaRegsitro }}</label><br>
  
</div>

</div>

{% endblock %}