{% extends "base.html" %}
{% block title %}Personas{% endblock %}
{% block content %}

<form method="GET">
<div class="table-responsive container" >
<table class="table table-hover">
    <thead>
      <tr>
       
        <th>Documento</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th></th>
       
      </tr>
    </thead>
    <tbody>
      	{% for persona in users %}
      		<tr>
        		<td>{{persona.documento}}</td>
        		<td>{{persona.documento.first_name}}</td>
        		<td>{{persona.documento.last_name}}</td>
        		<td>
            <input type="submit" formaction="../informacion/usuario/{{persona.documento}}" class= "btn-primary btn-sm" id ="informacion" value="Datos"/>
            <input type="submit" formaction="../editar/usuario/{{persona.documento}}"class= "btn-success btn-sm" id ="editar" value="Editar"/>
            <input type="submit" formaction="/eliminar/usuario/{{persona.documento}}" class= "btn-danger btn-sm" id ="eliminar" value="Eliminar"/></td>

	   		</tr>
		    {% endfor %}
    </tbody>
</table>
</div>
</form>
{% endblock %}
